
<div class="validate-container">
  <div class="validate-header">
    <h1>CSV File Reader</h1>
  </div>

<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
</div>
  <table class="grayTemplate" *ngIf="records.length > 0">
  <thead>
  <tr>
    <th>FirstName </th>
    <th>Sur name </th>
    <th>Issue Count </th>
    <th>Date of birth </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records;let i = index;">
    <td> <span>{{record.firstName}}</span> </td>
    <td> <span>{{record.surName}}</span> </td>
    <td> <span>{{record.issueCount}}</span> </td>
    <td> <span>{{record.dateOfBirth}}</span> </td>
  </tr>
  </tbody>
</table>
